/* styles.css */

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-container button:hover {
    background-color: #45a049;
}

.legend {
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    margin-top: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.legend-square {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#footerText {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #5b4fce; /* Adjust the color as needed */
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-small; /* Adjust the font size as needed */
}
